.breadcrumb {
  padding-top: 16px;
}

.breadcrumb-wrap {
  display: flex;
  gap: 12px;
  align-items: center;
}

.breadcrumb__link {
  @media (max-width: 375px) {
    font-size: 10px;
  }
}

.breadcrumb__link--forward {
  a {
    color: var(--color-primary);
  }
}