.personal-container-wrapper{
    .personal-container{
        max-width: 1442px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        .personal-side-bar{
            width: 22.88%;
            height: fit-content;
            background-color: #fff;
            padding: 12px 16px;
            .personal-avatar-profile{
                display: flex;
                .username-profile{
                    padding: 15px 30px;
                    p{
                        font-size: 20px;
                        font-weight: 600;
                        color: #101828;
                    }
                }
            }
            .personal-vecto{
                margin-top: 16px;
                border: 1px solid #EAECF0;
                width: 100%;
            }
            .personal-option{
                display: flex;
                margin-top: 16px;
                a{
                    margin-left: 8px;
                    font-weight: 600;
                    color: #101828;
                }
            }
            .active{
                a{
                    color: var(--color-primary);
                }
            }
        }
    }
}