.personal-infor-address{
    width: 75.03%;
    height: fit-content;
    background-color: #fff;
    padding: 12px 16px;
    .header-personal-info-address{
        display: flex;
        .title-header{
            width: 824px;
            p{
                color: #101828;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
            }
        }
        .add-address-new{
            display: flex;
            justify-content: flex-end;
            width: calc(100% - 824px);
            padding: 3px 0;
            margin-left: 30px;
            a{
                color: #101828;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                transition: all 0.3 ease;
                &:hover{
                    color: #667085;
                }
            }
        }
    }
    .personal-info-address-vecto{
        width: 100%;
        margin-top: 16px;
        border: 1px solid #EAECF0;
    }
    .info-address{
        margin-top: 16px;
        .title-info-address{
            display: flex;
            .title-header{
                width: 759px;
                p{
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                }
            }
            .default-address{
                display: flex;
                justify-content: flex-end;
                width: calc(100% - 775px);
                margin-left: 16px;
                .text-update{
                    margin-left: 16px;
                    padding: 1px 0;
                    a{
                        color: #1982F8;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        transition: all 0.3 ease;
                        &:hover{
                            color: #75C1FD;
                        }
                    }
                }
                .text-delete{
                    margin-left: 32px;
                    padding: 1px 0;
                    a{
                        color: #C30028;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        transition: all 0.3 ease;
                        &:hover{
                            color: #F66E62;
                        }
                    }
                }
            }
        }
        .content-address{
            margin-top: 16px;
            p{
                color: #667085;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
            }
            .content-addr{
                margin-top: 10px;
            }
        }
    }
}