$colorPrimary: #f00;
$colorSecondary: #399;
$colorGray1: #111;
$colorGray2: #222;
$colorGray3: #333;
$colorGray6: #666;

$textPrimary: #2D2A3E;
$textSecondary: #7E7FA0;


$fontPrimary: 'Inter', sans-serif;
$fontSecondary: 'Inter', sans-serif;

.section {
  padding-top: 30px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-204 {
  margin-top: 204px;
  @media (max-width: 375px) {
    margin-top: 12px;
  }
}