.product-content-container{
    padding: 30px 135px;
    .header-product-content-container{
        display: flex;
        width: 100%;
        height: auto;
        .product-title{
            width: 69.72%;
            padding: 10.5px 0 10.5px 0;
            p{
                font-size: 18px;
                font-weight: 600;
                color: #101828;
            }
        }
        .product-btn-function{
            width: 30.28%;
            height: 48px;
            display: flex;
            .add-product{
                margin-left: 12px;
            }
        }
    }
    .product-table{
        margin-top: 16px;
    }
    .pagination-block{
        margin-top: 16px;
        display: flex;
        .block{
            width: 69.37%;
        }
        .pagination{
            width: 30.63%;
            display: flex;
            justify-content: space-between;
            .btn-page{
                height: 40px;
                cursor: pointer;
            }
        }
    }
}