.statistic-wrapper{
    display: flex;
    .side-bar-wrapper{
        width: 240px;
        background-color: #fff;
        height: 100vh;
        box-shadow: 4px 0px 6px 0px rgb(0, 0, 0, 0.06);
        position: fixed;
        .image-logo{
            width: 100%;
            height: 80px;
            padding: 26px 32px;
        }
        .side-bar-admin{
            width: 100%;
            height: calc(100vh - 148px);
            padding: 40px 20px;
            .option-side-bar-admin{
                width: 100%;
                height: 48px;
                padding: 12px 16px;
                display: flex;
                img{
                    margin-right: 8px;
                }
                a{
                    font-size: 16px;
                    font-weight: 500;
                    color: #101828;
                }
            }
            .active{
                background-color: #FDD7CA;
                a{
                    color: var(--color-primary);
                }
            }
        }
        .btn-log-out{
            padding: 12px 36px;
            display: flex;
            width: 100%;
            height: auto;
            cursor: pointer;
            p{
                font-size: 16px;
                font-weight: 500;
                color: #C30028;
                margin-left: 8px;
            }
        }
    }
    .container-wrapper{
        width: calc(100% - 240px);
        height: auto;
        margin-left: 240px;
        .header-container{
            display: flex;
            padding: 16px 135px;
            width: 100%;
            height: 80px;
            background-color: #fff;
            .title{
                width: 52%;
                padding: 6px 0 6px 0;
                p{
                    font-size: 24px;
                    font-weight: 600;
                    color: #101828;
                }
            }
            .functions{
                width: 48%;
                display: flex;
                .input-search{
                    width: 63.93%;
                    input{
                        width: 100%;
                        border: 1px solid #D0D5DD;
                        border-radius: 4px;
                        padding: 12px 16px;
                        color: #667085;
                        font-size: 16px;
                        font-weight: 400;
                        outline: 5px;
                    }
                }
                .list-btn{
                    width: 36.07%;
                    display: flex;
                    padding: 4px 0 4px 0;
                    .btn-search, .btn-notify, .btn-user{
                        margin-left: 16px;
                    }
                    img{
                        cursor: pointer;
                    }
                    .users{
                        padding: 8px 0 8px 0;
                        a{
                            font-size: 16px;
                            color: #101828;
                            font-weight: 500;
                        }
                    }
                    
                }
            }
        }
    }
}